.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
    gap: 5px;
    margin-left: 15%;
    margin-right: 10%;
}

.article-1 {
    grid-column: 1;
    grid-row: 1;
}

.article-2{
    grid-column: 2;
    grid-row: 1;
}

.article-img{
    grid-column: 1;
    grid-row: auto;
}
.noticia{
    text-align: justify-all;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    grid-column: 2;
    grid-row: auto;
}
.article-3{
    text-align: justify-all;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10%;
    padding-bottom: 3%;
    grid-column: 1;
    grid-row: 1;
}

.article-3 h3{
    font-size: x-large;
}

.imgNew{
    grid-column: 2;
    grid-row: 1;
}
.new{
    text-align: justify-all;
    grid-column: auto;
    grid-row: auto;
    margin-left: 15%;
    margin-right: 10%;
}
.cabecera{
    font-size: x-large;
    text-align: center;
    align-content: center;
    vertical-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 15%;
    margin-right: 10%;
}

.imgN{
    border-radius: 0;
}